<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
  <div class="container py-5">
    <h1 class="text-center mb-4 text-dark">Expense Tracker</h1>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card-deck">
          <div class="card border-dark">
            <div class="card-body">
              <h5 class="card-title text-dark">View Expenses</h5>
              <p class="card-text text-muted">View all your expenses of this month.</p>
              <a href="/expenses/all" class="btn btn-dark">View</a>
            </div>
          </div>
          <div class="card border-dark">
            <div class="card-body">
              <h5 class="card-title text-dark">Add New Expense</h5>
              <p class="card-text text-muted">Add a new expense record.</p>
              <a href="/expenses/add" class="btn btn-dark">Add</a>
            </div>
          </div>
          <div class="card border-dark">
            <div class="card-body">
              <h5 class="card-title text-dark">Notifications</h5>
              <p class="card-text text-muted">See your notifications.</p>
              <a href="/expenses/notifications" class="btn btn-dark">See</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
                <div class="notification-column">
                    <h5>Notifications</h5>
                    <div th:if="${recurrentBillsNotification}" class="notification">
                        <strong>Error:</strong> <span th:text="${recurrentBillsNotification}"></span>
                    </div>
                </div>
            </div>
        
    </div>
  </div>

  
  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Script to trigger modal on page load -->
  <script>
document.addEventListener("DOMContentLoaded", function() {
      var userId = localStorage.getItem('user_id');
      if (!userId) {
        window.location.href = '/register'; // Redirect to the registration page if userId is not found
      }
    });


    $(document).ready(function() {
      $('#notificationModal').modal('show');
    });
  </script>
</body>
</html>
