<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <script>
        // Retrieve user details from the API and populate the form fields
        document.addEventListener("DOMContentLoaded", function () {
            var userId = localStorage.getItem("user_id");
            if (userId) {
                fetch(`/api/users/details/${userID}`)
                    .then(response => response.json())
                    .then(data => {
                        document.querySelector('form[name="updateUserForm"] input[name="id"]').value = data.userId;
                        document.querySelector('form[name="updateUserForm"] input[name="userName"]').value = data.userName;
                        document.querySelector('form[name="updateUserForm"] input[name="firstName"]').value = data.firstName;
                        document.querySelector('form[name="updateUserForm"] input[name="lastName"]').value = data.lastName;
                        document.querySelector('form[name="updateUserForm"] input[name="email"]').value = data.email;
                        document.querySelector('form[name="updateUserForm"] input[name="gender"]').value = data.gender;
                    })
                    .catch(error => console.error('Error fetching user details:', error));
            }
        });
    </script>
</head>
<body>

<h1>User Management</h1>

<h2>Get User Details by ID</h2>
<form th:action="@{/api/users/details}" method="get">
    User ID: <input type="text" name="id"><br>
    <input type="submit" value="Get Details">
</form>

<h2>Create User</h2>
<form th:action="@{/api/users}" method="post">
    Username: <input type="text" name="userName"><br>
    First Name: <input type="text" name="firstName"><br>
    Last Name: <input type="text" name="lastName"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    Gender: <input type="text" name="gender"><br>
    <input type="submit" value="Create User">
</form>

<h2>Register User</h2>
<form th:action="@{/api/users/action/register}" method="post">
    Username: <input type="text" name="userName"><br>
    First Name: <input type="text" name="firstName"><br>
    Last Name: <input type="text" name="lastName"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    Gender: <input type="text" name="gender"><br>
    <input type="submit" value="Register User">
</form>

<h2>Login User</h2>
<form th:action="@{/api/users/login}" method="post">
    Username/Email: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>

<h2>Update User</h2>
<form name="updateUserForm" th:action="@{/api/users}" method="put">
    User ID: <input type="text" name="id"><br>
    Username: <input type="text" name="userName"><br>
    First Name: <input type="text" name="firstName"><br>
    Last Name: <input type="text" name="lastName"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    Gender: <input type="text" name="gender"><br>
    <input type="submit" value="Update User">
</form>

<h2>Delete User</h2>
<form th:action="@{/api/users}" method="delete">
    User ID: <input type="text" name="id"><br>
    <input type="submit" value="Delete User">
</form>

</body>
</html>
